* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  padding: 10px;
}
/* section */
.section {
}
/* row */
.row {
  margin-bottom: 20px;
}
/* box */
.box {
  position: relative;
  display: inline-block;
  width: 300px;
}
/* discount */
.box .discount{
  position: absolute;
  top: 0;
  right:0;
  background-color: green;
}
